<section id="map" class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d495.8446503389016!2d106.9116197323951!3d-6.163262321144241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e0!4m3!3m2!1d-6.1634597!2d106.9118786!4m3!3m2!1d-6.1633143!2d106.91188389999999!5e0!3m2!1sid!2sid!4v1509960688445" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  <!-- <iframe id="map_iframe"
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://maps.google.com/maps/embed/v1/place?key={{ site.google_api_key }}&q={% for address in site.address %}{{ address.line }},{% endfor %}"
    allowfullscreen>
  </iframe> -->
  <!-- <br>
  <small id="map_iframe"
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://maps.google.com/maps/embed/v1/place?key={{ site.google_api_key }}&q={% for address in site.address %}{{ address.line }},{% endfor %}"
    allowfullscreen>
  </small> -->
</section>